.split {
  display: flex;
  flex-direction: column;

  > * + * {
    margin-top: get-size('gutter');
  }

  @include media-query('md') {
    flex-direction: row;

    > * + * {
      margin-top: 0;
      margin-left: get-size('gutter');
    }
  }

  > * {
    flex-basis: 100%;
  }
}
